@import url(common.css);

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  color: #333;
  height: 100vh;
}

/* top버튼 */
.top {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.top a {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../image/top.png) no-repeat;
  transition: 0.35s;
}

.top a:hover {
  background: url(../image/top_hover.png);
}

/* header_______________________________________ */
header {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: relative;
}

nav {
  /* border: 1px solid red; */
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
nav .logo {
  /* border: 1px solid #000; */
  width: 250px;
  height: 100px;
  z-index: 10;
}

.logo span {
  /* border: 1px solid #000; */
  font-family: 'Sorts Mill Goudy', serif;
  display: inline-block;
  font-size: 36px;
  color: #126A40;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 130px;
  padding-left: 24px;
  box-sizing: border-box;
}

/* 유틸메뉴 */
nav .icon {
  /* border: 1px solid #000; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 350px;
  height: 100px;
  padding-bottom: 20px;
  box-sizing: border-box;
  z-index: 10;
}

.icon li a {
  margin-right: 24px;
  color: #666;
}

.icon li:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 230px;
  height: 18px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #666;
  margin-bottom: 20px;
}

#sc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 195px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

/* 탑메뉴 */
.gnb {
  /* border: 1px solid #000; */
  height: 100px;
  display: flex;
  flex: 4;
}

.gnb>.topMenu {
  /* border: 1px solid blue; */
  z-index: 10;
}

.gnb>.topMenu>a {
  /* border: 1px solid #000; */
  display: inline-block;
  height: 20px;
  color: #444;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 55px 0 0 30px;
}

.gnb>.topMenu>a:hover {
  color: #126A40;
}

/* 서브메뉴 */

/* 서브메뉴 전체를 감싸고 있는 애 */
.topMenuP .p_sub_menu {
  /* border: 1px solid purple; */
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 300px;
  cursor: pointer;
}

.subSideMenu {
  /* border: 1px solid green; */
  width: 100px;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 40px 0 100px;
}

.subSideMenu li {
  /* border: 1px solid #000; */
  height: 36px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subSideMenu>li>a {
  color: #444;
  font-size: 16px;
  font-weight: 500;
}

.subSideMenu>li:hover>a {
  color: #999;
}

.sub_categorys {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 700px;
  height: 300px;
  padding: 30px 30px;
  box-sizing: border-box;
}

.subMenuTitle {
  display: flex;
  justify-content: left;
  padding-bottom: 12px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.subMenuTitle li a {
  font-size: 16px;
  font-weight: 500;
  margin-right: 40px;
}

.subMenuTitle li a:hover {
  color: #999;
}

.sub_category_menu {
  /* border: 1px solid #000; */
  display: none;
  width: inherit;
}

.sub_category {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: inherit;
}

.sub_category>ul>li {
  /* border: 1px solid #000; */
  width: 120px;
  height: 36px;

}

.sub_category_menu.active {
  display: block;
}

.sub_category>ul>li>a {
  /* border: 1px solid #000; */
  display: block;
  font-size: 15px;
  font-weight: 300;
  color: #777;
  text-align: left;
  margin-bottom: 20px;
}

/* 서브메뉴배경 */
.sub_bgbox {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 9;
}


/* main_______________________________________ */
main {
  /* border: 1px solid red; */
  position: relative;
  top: -100px;
  width: 1920px;
  height: 1010px;
  margin: auto;
  overflow: hidden;
}

.slide ul {
  /* border: 1px solid #000; */
  position: absolute;
  display: flex;
  z-index: -1;
}

.slide_btn {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
}

/* 인디케이터 */
.slide_btn ul {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_btn ul li {
  width: 360px;
  height: 3px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  z-index: 100;
}

.slide_btn ul li.active {
  height: 5px;
  background: #fff;
}


/* 글씨부분 */
/* .main_text {
  position: absolute;
  top: 0;
  left: -120px;
  transform: translate(100%, 100%);
  width: 500px;
  height: 300px;
  color: #666;
}

.main_text li h1 {
  font-size: 52px;
  font-weight: 600;
}

.main_text li h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 13px;
}

.main_text li h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 40px 0 40px 0;
  line-height: 32px;
}

.main_text li span {
  font-size: 18px;
  font-weight: 400;
  margin-right: 18px;
} */



/* section_______________________________________ */
section {
  width: 100%;
  text-align: center;
}

section div h2 {
  font-family: 'Sorts Mill Goudy', serif;
  display: inline-block;
  font-size: 40px;
  letter-spacing: -1px;
  margin: 50px 0 50px;
  box-sizing: border-box;
}

section .material-symbols-outlined {
  /* border: 1px solid #000; */
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 28px;
  float: right;
  margin: 65px 0 40px;
  box-sizing: border-box;
}

/* 신제품 */
#new_product {
  /* border: 1px solid #000; */
  width: 1200px;
  height: inherit;
  margin: 50px auto 200px;
}

.new_p {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.new {
  position: relative;
  overflow: hidden;
}

.new a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.35s;
}

.new p {
  /* border: 1px solid #000; */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 180px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* opacity: 0; */
  transition: 0.35s;
}

.newP1 {
  line-height: 300px;
}

.new p:not(.newP1) {
  font-size: 14px;
  line-height: 320px;
}

.new:nth-child(1) {
  grid-area: span 2 / span 2;
}

.new:hover a img {
  transform: scale(1.1);
}

.new:hover p {
  top: 215px;
}

.new:hover .newP1 {
  top: 615px;
}


/* 솔루션 */
#solution {
  /* border: 1px solid #000; */
  width: 1200px;
  height: 720px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.solution_text h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 40px;
  text-align: left;
  letter-spacing: -1px;
}

.solution_text p {
  font-size: 24px;
  text-align: left;
  margin: 16px 0 60px;
}

.solution_category {
  position: relative;
  width: 600px;
  height: 600px;
}

.solution_category a span {
  position: absolute;
  display: inline-block;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 16px;
  box-sizing: border-box;
  transition: 0.35s ease-in-out;
}

/* 솔루션 버튼 */
.solution_category a:first-child span {
  top: 0;
  left: 45%;
}

.solution_category a:nth-child(2) span {
  top: 30%;
  left: 10%;
}

.solution_category a:nth-child(3) span {
  top: 15%;
  left: 60%;
}

.solution_category a:nth-child(4) span {
  top: 60%;
  left: 60%;
}

.solution_category a:nth-child(5) span {
  top: 45%;
  left: 36%;
}

.solution_category a:nth-child(6) span {
  top: 70%;
  left: 15%;
}


/* 솔루션 버튼 옆 border */
.solution_category a span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  height: 1px;
  background-color: #ccc;
  opacity: 0;
  transition: 0.35s ease-in-out;
}

.solution_category a:first-child span::before {
  width: 350px;

}

.solution_category a:nth-child(2) span:before {
  width: 550px;
}

.solution_category a:nth-child(3) span:before {
  width: 250px;
}

.solution_category a:nth-child(4) span:before {
  width: 160px;
}

.solution_category a:nth-child(5) span:before {
  width: 380px;
}

.solution_category a:nth-child(6) span:before {
  width: 500px;
}

/* 이미지 */
.solution_image {
  position: relative;
  left: -50px;
  display: flex;
  justify-content: center;
  float: right;
  height: 700px;
  width: 550px;
  overflow: hidden;
  object-fit: cover;
  transition: 0.5s;
  z-index: 1;
}

/* 솔루션 호버 */
.solution_category a:hover span {
  background-color: #62D59E;
  border: none;
  color: #fff;
}

.solution_category a:hover span:before {
  background-color: #62D59E;
}


.solution_category a:hover span::before {
  opacity: 1;
}

/* 베스트제품 */
#best_product {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: 200px auto 0;
  padding-top: 50px;
  overflow: hidden;
}

.best_title {
  position: relative;
  /* border: 1px solid #000; */
  width: inherit;
}

.best_title h2 {
  /* border: 1px solid #000; */
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;
  font-size: 105px;
  z-index: 100;
}

.best_title img {
  /* border: 1px solid #000; */
  width: inherit;
  height: 650px;
  object-fit: cover;
}

.bestP {
  /* border: 1px solid blue; */
  position: relative;
  top: -175px;
  left: 0;
  width: 1860px;
  height: 350px;
}

.best1 ul {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
}

.best1 ul li a img {
  width: 310px;
  height: 350px;
}

.best_text {
  /* border: 1px solid #000; */
  position: absolute;
  top: 100%;
  left: 20px;
  display: flex;
  justify-content: space-between;
  height: 350px;
  width: 1860px;
}

.best {
  width: 310px;
  text-align: left;
  padding: 150px 0 0 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 4px #999;
}

.best p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin: 24px 0;
}

.best1_p span {
  font-weight: 600;
}

/* 리뷰 */
#review {
  /* border: 1px solid #000; */
  width: 1200px;
  height: 630px;
  margin: 0 auto 200px;
}

.reviewList {
  /* border: 1px solid #000; */
  display: flex;
  width: inherit;
}

.reviewList>div {
  height: 500px;
  flex: 1;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  transition: 0.35s;
}

.reviewBg {
  width: inherit;
  height: inherit;
  color: #333;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 230px 15px 0;
  box-sizing: border-box;
}

.reviewBg h3 {
  margin-bottom: 20px;
}

.reviewList1 {
  background: url(../image/photoReview1.jpg) no-repeat center center;
}

.reviewList2 {
  background: url(../image/photoReview2.jpg) no-repeat center center;
}

.reviewList3 {
  background: url(../image/photoReview3.jpg) no-repeat center center;
}

.reviewList4 {
  background: url(../image/photoReview4.jpg) no-repeat center center;
}

.reviewList5 {
  background: url(../image/photoReview5.jpg) no-repeat center center;
}

.reviewList>div:hover {
  flex: 3;

  background-size: cover;
}

.reviewList>div:hover .reviewBg {
  background-color: transparent;
}

.reviewList1:hover {
  background: url(../image/photoReview1\ after.jpg) no-repeat center center;
}

.reviewList2:hover {
  background: url(../image/photoReview2\ after.jpg) no-repeat center center;
}

.reviewList3:hover {
  background: url(../image/photoReview3\ after.jpg) no-repeat center center;
}

.reviewList4:hover {
  background: url(../image/photoReview4\ after.jpg) no-repeat center center;
}

.reviewList5:hover {
  background: url(../image/photoReview5\ after.jpg) no-repeat center center;
}


/* 커뮤니티 */
#community {
  /* border: 1px solid #000; */
  position: relative;
  width: 1200px;
  height: 940px;
  margin: auto;
}

.community_title {
  position: absolute;
  top: 200px;
  right: 0;
  width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community_title h2 {
  font-size: 70px;
}

.community_bg {
  width: 400px;
  height: 940px;
  background-color: #ccc;
}

.c_img1 {
  position: absolute;
  top: 0;
  left: 110px;
  width: 600px;
  height: 430px;
  object-fit: cover;
}

.c_img2 {
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 580px;
  height: 270px;
  object-fit: cover;
}

.c_img3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 490px;
  height: 600px;
  object-fit: cover;
}

.community_text span {
  font-family: 'Sorts Mill Goudy', serif;
  position: absolute;
}

.c_text1 {
  top: 340px;
  left: 20px;
  font-size: 35px;
  font-style: italic;
  transform: rotate(-90deg);
}

.c_text2 {
  top: 436px;
  left: 120px;
  font-size: 45px;
  color: #126A40;
}

.c_text3 {
  bottom: 105px;
  left: 210px;
  font-size: 35px;
  font-style: italic;
}

.c_text4 {
  bottom: 100px;
  left: 410px;
  font-size: 45px;
  color: #126A40;
}


/* 푸터 */
.sns {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 100px auto 40px;
}

.sns a {
  position: relative;
}

.sns a i {
  font-size: 30px;
  margin-right: 30px;
  color: #62D59E;
}

.sns a img {
  width: 30px;
  height: 30px;
}

.sns a:first-child:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  width: 460px;
  height: 1px;
  border-bottom: 1px solid #62D59E;
  margin-right: 30px;
}

.sns a:last-child:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 460px;
  height: 1px;
  border-bottom: 1px solid #62D59E;
  margin-left: 30px;
}


/* 푸터 */
footer {
  width: 100%;
  background-color: #126A40;
}

.ft {
  /* border: 1px solid #000; */
  width: 1200px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.left_text {
  /* border: 1px solid #000; */
  position: relative;
}

.ft_logo a span {
  font-family: 'Sorts Mill Goudy', serif;
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 36px;
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.left_text p {
  /* border: 1px solid #000; */
  position: absolute;
  top: 45%;
  left: 0;
  width: 700px;
  color: #aaa;
  line-height: 24px;
}

.right_text {
  /* border: 1px solid #000; */
  padding: 20px;
}

.right_text span {
  color: #fff;
  font-size: 18px;
}

.right_text span strong {
  color: #62D59E;
  font-size: 28px;
}

.right_text p {
  margin: 15px 0;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
}




/* 
솔루션
사진 슬라이드. 
사진오버시 제품사진으로 변경
버튼 클릭시 해당하는 사진으로 바뀜 
버튼 누를때만 버튼 선이 오른쪽에서 왼쪽으로 나옴
단어 누를 때 이미지 변경


*/